{
  "openapi": "3.0.0",
  "info": {
    "title": "Open Politica - Congreso - API",
    "version": "0.1.0",
    "description": "API para proyecto Congreso desarrollado para backend de Open Politica in Node.JS",
    "license": {
      "name": "Apache 2.0",
      "url": "https://spdx.org/licenses/Apache-2.0.html"
    },
    "contact": {
      "name": "OpenPolitica",
      "url": "https://openpolitica.com",
      "email": "hola@openpolitica.com"
    }
  },
  "servers": [
    {
      "url": "https://api.congreso.openpolitica.com",
      "description": "Production Server"
    },
    {
      "url": "https://api.dev.congreso.openpolitica.com",
      "description": "Staging Server"
    },
    { "url": "http://localhost:8000", "description": "Development Server" }
  ],
  "paths": {
    "/api/congressperson": {
      "get": {
        "summary": "Returns information about congresspeople. If a query parameter is not defined, returns the complete list of congresspeople. Otherwise return the information about a specific congressperson. Accepts 'cv_id' and 'id_dni' as parameters, but in case are both provided, the cv_id takes precedence.",
        "parameters": [
          {
            "in": "query",
            "name": "cv_id",
            "description": "Identificator of a specific congressperson through the cv_id value",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "id_dni",
            "description": "Identificator of a specific congressperson through the id_dni value",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
